$gray-background-color: #b9b2b2;
$white-background-color: whitesmoke;
$black-border: #222222;

.item {
    border-radius: 15px;
    background: $white-background-color;
    max-width: 740px;
    padding: 7px 20px;
    margin-bottom: 20px;
    .item__title {
        text-transform: uppercase;
        transition: transform 400ms ease;
        &:hover {
            transform: scale(1.02);
        }
    }
}